@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBelajar";
}

<h1 id="Judul">Judul</h1>
<div id="container">
    <section id="a">
        <p class="p1">paragraf 1</p>
        <p class="p2">paragraf 2</p>
        <a href="#">Link apa aja</a>
        <ul id="b">
            <li id="a">List 1</li>
            <li id="a">List 2</li>
            <li id="a">List 3</li>
        </ul>
    </section>
    <section id="b">
        <p id="a">paragraf 5</p>
        <div id="a">
            <p>ini paragraf apa ya</p>
        </div>
        <ul>
            <li>List 1</li>
            <li>List 2</li>
            <li>List 3</li>
            <li>List 4</li>
            <li>List 5</li>
        </ul>
    </section>
</div>